<footer{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}

    <div class="container">
        <div class="footer-content">
            {% if content.field_footer_links %}
                {{ content.field_footer_links }}
            {% endif %}

            <div class="bottom-info">
                {% if content.field_footer_copyright %}
                    {{ content.field_footer_copyright }}
                {% endif %}

                {% if content.field_tersera_logo %}
                    {{ content.field_tersera_logo }}
                {% endif %}
            </div>
        </div>
    </div>

</footer>
