{%

set classes = [
  'request-a-representative'
]

%}

<section{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    <div class="grid">
        {% if content.field_rep_introduction %}
            {{ content.field_rep_introduction.0 }}
        {% endif %}

        {{ content.field_rep_form.0 }}
    </div>
</section>
